@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.woff2') format('woff2'),
        url('Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family:  'Roboto', 'Arial', sans-serif;
    background-image: url("../img/backcolor.png") ;
    background-repeat: no-repeat;
    background-size: 1440px 800px ;
    background-position: calc(50%) calc(0px),
    
    /* background-transform: rotate(-25deg); */
}

.img{
    vertical-align: middle;
    object-fit: cover;
}

.visualliy-hiading{
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}

.container{
    width: 1380px;
    padding: 0 20px;
    margin: 0 auto;
}

/* header */

.header{
    padding: 45px 0;
    background-color: #f1d2ad;
}

.header__intro {
    display: flex;
    align-items: center;
    
}

.header__link {
    text-decoration: none;
    margin-right: auto;
}

.header__img {
    width: 235px;
    height: 24px;
}

/* .header__nav {
    
} */

.header__item{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.item__list {
    margin: 0;
    padding: 0;
    margin-right: 40px;
}

.item__list:nth-child(3){
    margin-right: 0;
}

.item__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;

}


/* hero */

.hero {
    position: relative;
    padding-top: 116px;
    padding-bottom: 265px;
    background-image: url("../img/cofe.png");
    background-repeat:no-repeat ;
    background-size:710px 696px ;
    background-position:calc(50% + 365px) calc(50%);
    background-color: #f1d2ad;
}

.hero::before{
    position: absolute;
    top: -65px;
    left: calc(50% - 70px );
    display: block;
    width: 214px;
    height: 214px;
    background-image: url("../img/butfirst.png");
    background-size: contain;
    content: "";
}

.hero__inner {
    width: 447px;
    text-align: left;
    margin-left: 130px;
}

.hero__heading {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #000000;
}
.hero__text {
    margin: 0;
    padding: 0;
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    mix-blend-mode: normal;
}
.hero__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    font-variant: small-caps;
    color: #FFFFFF;
    padding: 16px 24px;
    background-color: #0A775F;
    border-radius: 100px;
}

/* our collection */

.our-collection {
    position: relative;
    padding: 20px ;
   background-color: #FFFFFF;
}

.our-collection::before{
    position: absolute;
    top: 40px;
    left: calc(50% - 750px);
    display: block;
    width: 402px;
    height: 300px;
    background-image: url("../img/leabes_befor.png");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}

.our-collection::after{
    position: absolute;
    top: 700px;
    right: calc(50% - 760px);
    display: block;
    width: 402px;
    height: 300px;
    background-image: url("../img/leabes_after.png");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}

.our-collection__box{
    background-color: #f6f6f6;
}

.our-collection__box::before{
    position: absolute;
    bottom: 100px;
    left: calc(50% - 800px);
    display: block;
    width: 402px;
    height: 300px;
    background-image: url("../img/leabes.png");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}

.our-collection__title {
    display: block;
    margin: 0 auto;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    font-variant: small-caps;
    margin-top: 50px;
    margin-bottom: 80px;
}

.our-collection__item {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
    width: 1020px;
    margin-right: 220px;
    margin-left: 100px;

}

.our-collection__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our-collection__list:nth-child(2n){
    flex-direction: row-reverse;
    margin-left: 200px;
}

.list__img {
    width: 450px;
    height: 375px;
}

.list__box {
    width: 453px;
}

.list__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    font-variant: small-caps;
    color: #333333;
    margin-bottom: 10px;
}

.list__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #333333;
}

